<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org/"
      xmlns:xlmns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>

<h1>User Profile</h1><br>
<p1>Full Name: <b>[[${#request.userPrincipal.principal.fullName}]]</b></p1><br>
<div th:text="${#authentication.firstName}" ></div>


<div><label for="audio-upload">Upload an audio file:</label></div>
<div><input id="audio-upload" type="file" /></div>

</body>
</html>

<script>

    function changeHandler({target}) {
        if (!target.files.length) return;

        const urlObj = URL.createObjectURL(target.files[0]);

        // Create an audio element
        const audio = document.createElement("audio");

        audio.addEventListener("load", () => {
            URL.revokeObjectURL(urlObj);
        });

        document.body.appendChild(audio);

        audio.controls = "true";

        audio.src = urlObj;
    }

    document
        .getElementById("audio-upload")
        .addEventListener("change", changeHandler);

</script>